@model WebApplication3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TripTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripDestenation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripDestenation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankLike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankLike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankDislike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankDislike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
